body {
    background-color:#f2f2f2;
}
#menu { 
    background-color: #333; color: white; padding: 10px; 
}

a 
{ color: white; text-decoration: none; margin-right: 10px; 
}

.informacoes {
    background-color: bisque; border: 10;;
}
.formatar_imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
