body {
    background: linear-gradient(to bottom, #f8e4e7, #ffffff);;
    margin: 0;
    height: 100vh;

    /* Centralizar o container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* Centralizar */
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color:#f8e4e7;
    height: 500px;
    width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: rgb(214, 139, 139);
    font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
    border: 1px white;
    border-radius: 10px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(214, 139, 139);
    font-weight: bold;
    padding-bottom: 10px;

}

#data {
    font-weight: bold; /* Texto em negrito */
    color: rgb(214, 139, 139); /* Cor azul */
    font-size: 16px; /* Tamanho da fonte */
}

#genero {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(214, 139, 139);
    font-weight: bold;
}

#estado {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(214, 139, 139);
    font-weight: bold;
    border: 1px white;
    border-radius: 10px;
}

.botao {
    background-color: white;
    color: rgb(214, 139, 139)
    
}


